.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.header-text{
    font-weight: 300;
}

.bold-header-text {
    font-weight:900;
}